
.wrap
{
  margin: 0 auto;  
  background-color: #ffffff;
  width: 500px;
  height: 700px;
  padding: 20px;
}
.particles
{
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
}

.card-header
{
color: #ff0000;
font-weight: 1000;
font-family: 
}

.card.border-success
{
background: linear-gradient(#1a2a6c,#b21f1f,#fdbb2d);
width: 400px;
padding: 20px;
box-shadow: 0px 2px 2px 2px;
margin:0 auto;
}
.card-title
{
  background: linear-gradient(#1a2a6c,#b21f1f);
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 3;
  animation-timing-function: linear; 
 
}
.flip-scale-2-hor-top {
  -webkit-animation: flip-scale-2-hor-top 0.5s linear both;
          animation: flip-scale-2-hor-top 0.5s linear both;
}

@keyframes spin {
    from {
        transform:rotate(30deg);
    }
    to {
        transform:rotate(-30deg);
    }
}

body
{
  /*background: linear-gradient(rgb(135, 149, 196) 0%, rgb(78, 24, 107) 44%, rgb(74, 7, 31) 100%);*/
  
  background: linear-gradient(#b92b27, #1565C0);
  /*background: linear-gradient(rgb(250, 147, 95) 0%, rgb(250, 145, 95) 44%, rgb(250, 147, 90) 100%);*/
}

.seldate
{
  margin-left: 20px;
}

@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}


